@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@400;700&family=Julius+Sans+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// font-family: 'Archivo Narrow', sans-serif;
// font-family: 'Julius Sans One', sans-serif;

:root{
    font-family: 'Archivo Narrow', sans-serif;
}
